@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

header {
  background: #00ADB5;
  font-family: 'Libre Franklin', sans-serif;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

footer {
  background: #FF5722;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

body {
  background: #eeeeee;
  color: #303841;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  padding: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

#signUp , #signIn {
  margin: 7px;
  padding: 7px;
  border: 1px solid white;
}

#index-animal , #newAnimal , #destroy-animal , #update-animal {
  margin: 7px;
  padding: 7px;
  border: 1px solid white;
}

#allanimalsresults {
  font-size: 20px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

#allanimalsresultspassword {
  font-size: 30px;
  text-align: center;
}

input[type="submit"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

input[type="email"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
}

input[type="password"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
}
