@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

header {
  background: #355c7d ;
  color: white;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  padding: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

footer {
  background: #725a7a;
  color: white;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  text-align: center;
  float: center;
}

body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
  color: #070d59;
  font-family: 'Libre Franklin', sans-serif;
  padding: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
}

#sign-up-email , #sign-up-password {
  width: 625px;
}

#sign-in-email , #sign-in-password {
  width: 625px;
}

#signUp {
  margin: 3px;
  padding: 10px;
}

#signIn {
  margin: 3px;
  padding: 10px;
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}

#index-animal , #newAnimal , #destroy-animal , #update-animal {
  margin: 7px;
  padding: 7px;
  border: 1px inset #c56c86 ;
  font-size: 15px;
}

#allanimalsresults {
  padding:10px;
  border:0;
  border-radius:10px;
  margin:2px 0;
  text-align: center;
}

#allanimalsresults2 {
  padding:10px;
  border:0;
  border-radius:10px;
  margin:2px 0;
  text-align: center;
  font-size: 12px;
}

#allanimalsresultspassword {
  font-size: 30px;
  margin: 0 auto;
}

#intro2 {
  font-size: 30px;
  text-align: center;
}

input[type="submit"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:2px 0;
  background-color: #c56c86;
}

input[type="email"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
}

input[type="password"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
}

input[type="text"] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
  background-color: white;
}

input[type="button"] {
  padding:10px;
  background-color: pink;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  margin:5px 0;
}
