@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

header {
  background: #00ADB5;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

footer {
  background: #FF5722;
}

body {
  background: #eeeeee;
  color: #303841;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

#intro , #allanimalsresults , #newAnimal , #signUp , #signIn , #sign-out , #index-animal , #destroy-animal , #changePassword , #update-animal {
  text-align: center;
  align-items: center;
  align-content: center;
}

#index-animal , #newAnimal , #destroy-animal , #update-animal {
  margin: 7px;
  padding: 7px;
  border: 1px solid white;
}

#signUp , {
margin-top: -8rem !important;
}

#allanimalsresults {
  font-size: 45px;
}

#allanimalsresultspassword {
  font-size: 30px;
  text-align: center;
}
